﻿@model IEnumerable<todo_domain_entities.Data.TodoList>

@{
    ViewData["Title"] = "Index";
}

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
                    <div class="card-body py-4 px-4 px-md-5">

                        <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
                          <i class="fas fa-check-square me-1"></i>
                          <u>My Todo</u>
                        </p>

                        <div class="pb-2">
                             @using (Html.BeginForm("Create", "TodoLists", FormMethod.Get)) 
                             {
                                  <div class="card">
                                        <div class="card-body">
                                              <div class="d-flex flex-row align-items-center">
                                                      @Html.TextBox("Vtitle",
                                                                    null,
                                                                    new {
                                                                        id = "exampleFormControlInput1",
                                                                        @class = "form-control form-control-lg"
                                                                    })
                                                    <a href="#!" data-mdb-toggle="tooltip" title="Set due date">
                                                        <i class="fas fa-calendar-alt fa-lg me-3"></i>
                                                    </a>
                                                    <div>
                                                        <button type="submit" class="btn btn-primary">Add</button>
                                                    </div>
                                              </div>
                                        </div>
                                  </div>
                               }
                        </div>

                        <hr class="my-4">
                        @foreach(var item in Model)
                        {
                             <ul class="list-group list-group-horizontal rounded-0 bg-transparent">
                                  <li class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">
                                        <div class="form-check">
                                            <input class="form-check-input me-0" type="checkbox" value="" id="flexCheckChecked1"
                                                aria-label="..." checked />
                                        </div>
                                  </li>
                                  <li class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
                                        <p class="lead fw-normal mb-0">@Html.DisplayFor(modelItem => item.Title)</p>
                                  </li>
                                  <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
                                        <div class="d-flex flex-row justify-content-end mb-1">
                                            @Html.ActionLink("Hide", "Hide", new { id=item.Id }) | 
                                            @Html.ActionLink("Edit", "Edit", new { id=item.Id })
                                        </div>
                                        <div class="text-end text-muted">
                                              <a href="#!" class="text-muted" data-mdb-toggle="tooltip" title="Created date">
                                                    <p class="small mb-0"><i class="fas fa-info-circle me-2"></i>@Html.DisplayFor(modelItem => item.CreatedAt)</p>
                                              </a>
                                        </div>
                                  </li>
                            </ul>        
                        }                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
